.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 400px;
  height: 300px;
}

.card__info {
  padding-top: 4px;
  display: grid;
  gap: 4px;
  align-items: center;
  grid-template-areas: 'img title' 'img views';
  grid-template-columns: 20% 80%;
}

.card__img {
  grid-area: img;
  margin: auto;
  width: 40px;
  border-radius: 50%;
}

.card__title {
  grid-area: title;
}

.card__views {
  grid-area: views;
  color: var(--color-gray-dark);
}
